@import url(/css/reset.css);

/*Fonts*/

body {
  font-family: 'Roboto';
font-weight: 500;
}

.header{
  font-family: 'Montserrat Alternates';
  font-weight: 600;
}

.second-ul{
  font-family: 'Montserrat';
font-weight: 300;
}

/*GLOBAL MENU*/

.globalContainer{
max-width: 1140px;
margin: 0 auto;
position: relative;
}


.header {
background: #4f17ab;
padding: 16px 0;
font-size: 20px;
line-height: 25px;
margin-bottom: 70px;
}


.globalMenu {
display: flex;
justify-content: center;
gap: 30px;
}

.globalMenu li a:hover,
.globalMenu li a:hover svg {
  fill: red;
  color: red;
}

.globalMenu a {
color: #000000;
display: block;
text-decoration: none;
padding: 0 27px;
}

.globalMenu > li {
text-transform: uppercase;
position: relative;
}

.globalMenu > li:hover .second-ul {
  transform: translateY(0);
}

.second-ul  {
padding: 20px 0 0;
position: absolute;
top: 100%;
left: 0;
transform: translateY(-300%);
background: rgb(113, 83, 182, 0.5);
transition: transform .4s linear;
z-index: 1;
}

.second-ul > li {
  position: relative;
background: rgb(113, 83, 182, 0.5);
}

.globalMenu li:nth-child(even) a {
color: #fdf4f4;
}



.globalMenu li a {
color: #fff;
text-decoration: none;
text-transform: uppercase;
}

.ameliaSite {
  font-family: 'Roboto';
  position: absolute;
  background: #7153b6;
  top:0;
  right:100%;
}

.second-ul ul{
  transition: all .5s linear;
  transform: scale(0);
}

.second-ul  li:hover > ul {
  transform: scale(1);
  }

.svgHeader {
  width: 24px;
  height: 24px;
  fill: #fff;
  position: absolute;
  top: 9;
  left: 0;
}

.svgHeaderRight {
  width: 24px;
  height: 24px;
  fill: #fff;
  position: absolute;
  top: 1px;
  right: 0px;
  transition-property: fill;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

/*HW1-3*/

.container1 {
  width: 1200px;
  margin: 0 auto;
}

.img1 {
  text-align: center;
}

h1 {
  text-align: center;
  color: #960505;
  font-size: 35px;
}

.info {
  color:#fff;
  margin-top: 20px;
  font-size: 18px;
}

h2 {
  color:#960505;
  text-align: center;
  font-size: 35px;
}

.game {
  color:#fff;
  margin-top: 20px;
  font-size: 18px;
}

.textScroll {
  text-align: center;
}

select {
  color:#fff;
  background-color: #202021;
  margin: 20px 30px;
  text-align: justify;
  border: 3px solid #960505;
  font-family: monospace;
  font-weight: 600;
}

.page1 {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: sans-serif;
}

table, td {
  border: 3px solid black;
  padding: 40px;
  margin: 0 auto;
  border-spacing: 30px;
}

.one, .fourteen {
  background-color: #909090;
}

.two, .three, .four, .seven, .nine, .eleven, .twelve {
   background-color: #385b12;
}

.five {
  background-color: #2bff00;
}

.six, .thirteen {
  background-color: #1a2f00;
}

.eight {
  background-color: #cbcb13;
}

.ten {
  background-color: blue;
}

caption {
  font-size: 24px;
  color: #fff;
}

.color-text {
  color: yellow;
}

.scrollSelect { 
font-size: 16px; 
font-family: sans-serif; 
font-weight: 700; 
}

/*HW5*/

.container5 {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;

}

.box5 {
  margin-top: 50px;
  font-size: 0;
}

.child5 {
  vertical-align: top;
  width: 400px;
  display: inline-block;
  font-size: 15px;
  background: pink;
  border: 1px solid #000;
  padding: 20px;
}

.image5 {
  height: 150px;
  overflow: hidden;
}

.image5 img {
  width: 100%;
  height: 100%;
}

.image5 + h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0;
}

.text5 {
  text-align: justify;
  margin: 0 10px 10px;
  height: 100px;
  overflow: hidden;
}

.text5 p + p {
  margin-top: 10px;
}

/*HW6*/

.container6 {
  width: 1200px;
  margin: 0 auto;
}

.firstBlocks6 {
  width: 400px;
  height: 400px;
  float: left;
  border: 1px solid black;
  background-color:#13c242;
}

.secondBlocks6 {
  width: 800px;
  height: 400px;
  float: left;
  border: 1px solid black;
  background-color: #c6680f;
}

.blockOne6 {
  height: 200px;
  border: 2px solid black;
}

.thirdBlocks6 {
  width: 400px;
  height: 400px;
  float: right;
  border: 1px solid black;
  background-color: #4cbacd;
}

.blockTwo6 {
  height: 133.3px;
  border: 1px solid black;
}

.blockPink6 {
  width: 400px;
  height: 400px;
  float: left;
  border: 1px solid black;
  background-color: #ea08cc;
}

.blockBlue6 {
  width: 800px;
  height: 200px;
  float: right;
  border: 1px solid black;
  background-color: #3f11e6;
}

.blockPurple6 {
  width: 400px;
  height: 200px;
  float: left;
  border: 1px solid black;
  background-color: #9b08a0;
}

.blockYellow6 {
  width: 400px;
  height: 200px;
  float: right;
  border: 1px solid black;
  background-color: #f3f615;
}

.blockThree6 {
  height: 100px;
  border: 1px solid black;
}

/*HW8*/

body {
  background-color: #280e6a;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 5px;
  border: 3px solid black;
  text-align: center;
  max-width: 500px;
  flex-basis: 40%;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  color: wheat;
}

p {
  line-height: 20px;
  font-size: 18px;
  color: wheat;
}

.pictureText {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  margin-top: -60px;
  opacity: 0;
}

.card:hover .pictureText {
  opacity: 1;
}

.hidden {
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

/*Hover me*/

.footerIcon {
  border: #000;
  position: fixed;
  bottom: 0;
  right:45%;
  width: 200px;
  transform: translateY(calc(100% - 50px));
  transition-property: transform;
  transition-duration: 2.5s;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgb(70, 202, 60),rgb(209, 209, 21),rgb(255, 30, 0));
  border-image-slice: 1;
}

.footerIcon:hover {
  transform: translateY(0);
}

.textHover {
  text-align: center;
  padding: 10px 0;
  background: #6600ff;
  border: 2px solid;
  border-image: linear-gradient(90deg, rgb(70, 202, 60),rgb(209, 209, 21),rgb(255, 30, 0));
  border-image-slice: 1;
}


.romb {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  margin: 0 auto;
  justify-content: center;
  padding: 40px 0;
  gap: 1px;
  transform: rotate(45deg);
}

.romb > li {
  border: 1px solid #ccc;
  overflow: hidden;
}

.romb svg {
  transform: rotate(-45deg);
}

.romb > li a {
  background: #ece0ad;
  text-decoration: none;
  display: block;
  color: #2f1541;
  width: 40px;
}

.icon {
width: 40px;
height: 40px;
fill: #23083e;
}

.footerIcon li:hover svg {
fill: red;
}
